
*{
  height: 100%;
  width: 100%;
  margin: 0;
 
}
body{
background: #1f5dad;
background: linear-gradient(3deg, rgba(31, 93, 173, 1) 0%, rgba(47, 106, 161, 1) 50%, rgba(65, 121, 166, 1) 100%);
}

.container{
 width: 40%;
 height: 100%;
 margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.input-box{

 display: flex;
 align-items: center;
 justify-content: center;

}
input{
  
  width: 25vw;
  height: 5vh;
  border: 0px;
  padding: 5px;
  padding-left:30px ;
  font-size: 1.3rem;
  outline: none;
  margin: 10px 10px;
  border-radius: 20px;
}
input:hover{
  transform: scale(1.02);
 transition: transform 0.05s ease-in;
}
.search-icon{
   
  background-color: white;
  border: 0px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
 

}
.search-icon:hover{
  cursor: pointer;
  transform: scale(1.05);
 transition: transform 0.05s ease-in;
 
}
.temp{
  /* font-size: 5rem; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top:-50px;

}
.temp  {
  font-size: 5rem;
}
.temp p{
  color: white;
  font-size: 2.2rem;
  position: relative;
  top:-40px;
  
}

img{
  position: relative;
  /* top:-10px; */
  width: 40%;
  height: 60%;
}

.therm{
  position: relative;
  top:20px;
}
